{% extends 'home/layout.html' %}

{% block homeTitle %}
    Home
{% endblock %}

{% block homeNavigation %}
    <a href="{% url 'home'%}"><li><i class="fa-solid fa-house-chimney-medical"></i> Главная</li></a>
    <a href="{% url 'dep'%}"><li><i class="fa-solid fa-hospital-user"></i>  Отделения</li></a>
    <a href="{% url 'doc'%}"><li><i class="fa-solid fa-user-doctor"></i> Врачи</li></a>
    <a href="{% url 'rooms'%}"><li><i class="fa-solid fa-bed-pulse"></i> Палаты</li></a>
    <a href="{% url 'diag'%}"><li><i class="fa-solid fa-notes-medical"></i> Диагнозы</li></a>
    <a href="{% url 'about' %}"><li><i class="fa-solid fa-star-of-life"></i> О проекте</li></a>
{% endblock %}

{% block homeContent %}
    <div class="features">
        <h1>{{ title }}</h1>
    <p>
Наша лікарня — лідер приватної медицини. Багатопрофільний медичний центр, що надає повний комплекс послуг з профілактики, діагностики та лікування захворювань. Наші двері відкриті для всіх, незалежно від прописки або адреси проживання. У разі якщо Вам, або Вашим близьким знадобитися медична допомога — Ви завжди можете покладатися на нас!

</p>
    </div >
{% endblock %}