{% extends 'hospital/layout.html' %}

{% block hospitalTitle %}
    Rooms
{% endblock %}

{% block hospitalNavigation %}
    <a href="{% url 'home'%}"><li><i class="fa-solid fa-house-chimney-medical"></i> Главная</li></a>
    <a href="{% url 'dep'%}"><li><i class="fa-solid fa-hospital-user"></i>  Отделения</li></a>
    <a href="{% url 'doc'%}"><li><i class="fa-solid fa-user-doctor"></i> Врачи</li></a>
    <a href="{% url 'rooms'%}"><li><i class="fa-solid fa-bed-pulse"></i> Палаты</li></a>
    <a href="{% url 'diag'%}"><li><i class="fa-solid fa-notes-medical"></i> Диагнозы</li></a>
    <a href="{% url 'about' %}"><li><i class="fa-solid fa-star-of-life"></i> О проекте</li></a>
{% endblock %}

{% block hospitalContent %}
    <div class="features">
        <h1>Палаты</h1>
    {% for el in room %}
                <div class="alert alert-warning">
                    <h3><i class="fa-solid fa-people-roof"></i> {{ el.department }}: Номер палаты: {{ el.number }}</h3>
                        <p>Свободно? - {{ el.status }}</p>
                </div>
            {% endfor %}
    </div >
{% endblock %}